.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    max-width: 420px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
