.logo {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--logo-primary-color);

  //   @include desktop {
  //     font-size: 26px;
  //   }
}

.logo--bold {
  font-weight: 700;
  color: var(--primary-text-color);
}
